/*
 * Copyright (c) 2021 Mike "KemoNine" Crosson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <zmk-helpers/helper.h>

/* 8 KEY MATRIX / LAYOUT MAPPING

  ╭─────────────────╮
  │  0   1   2   3  │
  │  4   5   6   7  │
  ╰─────────────────╯
  ╭─────────────────╮
  │ LT4 LT3 LT2 LT1 │
  │ LM4 LM3 LM2 LM1 │
  ╰─────────────────╯
*/

// Defines to make thumbless/right taipo happy
#define LH0 99
#define LB1 99
#define RH0 99
#define RB1 99
#define RT1 99
#define RT2 99
#define RT3 99
#define RT4 99
#define RM1 99
#define RM2 99
#define RM3 99
#define RM4 99



// ARTS Row (top row)
#undef LT1
#undef LT2
#undef LT3
#undef LT4
#define LT1 3
#define LT2 2
#define LT3 1
#define LT4 0
// EYIO Row (bottom row)
#undef LM1
#undef LM2
#undef LM3
#undef LM4
#define LM1 7
#define LM2 6
#define LM3 5
#define LM4 4

//#include "../../../base.keymap"
#undef TAIPO
#undef TAIPO_INNER
#undef TAIPO_OUTER
#include "../../../taipo.dtsi"

#include "../../../mouse.dtsi"

#define MOUSE 3
#define BLUETOOTH 4

// Base TAIPO layer - the 8 base keys
ZMK_LAYER(taipo,
  &kp R &kp S &kp N &kp I
  &kp A &kp O &kp T &kp E
)
ZMK_COMBO(tog_mouse, &tog MOUSE, LT1 LM2 LT3, TAIPO MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(tog_bluetooth, &tog BLUETOOTH, LT1 LM2 LM3 LT4, TAIPO BLUETOOTH, COMBO_TERM_FAST)

ZMK_LAYER(inner,
  &trans &trans &trans &trans
  &trans &trans &trans &trans
)

ZMK_LAYER(outer,
  &trans &trans &trans &trans
  &trans &trans &trans &trans
)

ZMK_LAYER(mouse,
  &msc SCRL_UP   &mkp RCLK      &mmv MOVE_UP   &mkp LCLK
  &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT
)
ZMK_COMBO(scroll_left , &msc SCRL_LEFT , LT3 LT4, MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(right_click , &msc SCRL_RIGHT, LM3 LM4, MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(middle_click, &mkp MCLK      , LT1 LT3, MOUSE, COMBO_TERM_FAST)

ZMK_LAYER(bluetooth,
  &bt BT_CLR &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0
  &none      &bt BT_SEL 5 &bt BT_SEL 4 &bt BT_SEL 3
)
