#include "../zmk-nodefree-config/keypos_def/keypos_30keys.h"
#include "base.keymap"

ZMK_LAYER(helm_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_HELM_UPPER_ROW________________________________________________       RIGHT_HELM_UPPER_ROW_______________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_HELM_MIDDLE_ROW_______________________________________________       RIGHT_HELM_MIDDLE_ROW______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_HELM_LOWER_ROW____________________                                   RIGHT_HELM_LOWER_ROW___________________
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┴─────────────╯
                                                   L_THUMB       L_THUMB           R_THUMB       R_THUMB
    //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(port_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_PORT_UPPER_ROW________________________________________________       RIGHT_PORT_UPPER_ROW_______________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_PORT_MIDDLE_ROW_______________________________________________       RIGHT_PORT_MIDDLE_ROW______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_PORT_LOWER_ROW____________________                                   RIGHT_PORT_LOWER_ROW___________________
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┴─────────────╯
                                                   L_THUMB       L_THUMB           R_THUMB       R_THUMB
    //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(starboard_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_STARBOARD_UPPER_ROW___________________________________________       RIGHT_STARBOARD_UPPER_ROW__________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_STARBOARD_MIDDLE_ROW__________________________________________       RIGHT_STARBOARD_MIDDLE_ROW_________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_STARBOARD_LOWER_ROW_______________                                   RIGHT_STARBOARD_LOWER_ROW______________
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┴─────────────╯
                                                   L_THUMB       L_THUMB           R_THUMB       R_THUMB
    //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(aft_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_AFT_UPPER_ROW_________________________________________________       RIGHT_AFT_UPPER_ROW________________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_AFT_MIDDLE_ROW________________________________________________       RIGHT_AFT_MIDDLE_ROW_______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_AFT_LOWER_ROW_____________________                                   RIGHT_AFT_LOWER_ROW____________________
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┴─────────────╯
                                                   L_THUMB       L_THUMB           R_THUMB       R_THUMB
    //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

/* vim: set tw=180 ft=c: */
