/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 ___ │ │ ___ RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 ___ │ │ ___ RM1 RM2 RM3 RM4 │
  ╰───╮ ___ ___ LB1 LH0 │ │ RH0 RB1 ___ ___ ╭───╯
      ╰─────────────────╯ ╰─────────────────╯
  ╭─────────────────────╮ ╭─────────────────────╮
  │  R   S   N   I  ___ │ │ ___  I   N   S   R  │
  │  A   O   T   E  ___ │ │ ___  E   T   O   A  │
  ╰───╮ ___ ___ SPC BSP │ │ BSP SPC ___ ___ ╭───╯
      ╰─────────────────╯ ╰─────────────────╯
*/

// R is LT4 and RT4
// S is LT3 and RT3
// N is LT2 and RT2
// I is LT1 and RT1

// A is LM4 and RM4
// O is LM3 and RM3
// T is LM2 and RM2
// E is LM1 and RM1

// SPC is LB1 and RB1
// BSPC is LH0 and RH0

#undef COMBO_TERM_FAST
#undef COMBO_TERM_SLOW
#define COMBO_TERM_FAST 100 // 50
#define COMBO_TERM_SLOW 80

// Change thumb order to OIIO if you want outer-inner-inner-outer or IOOI for
// inner-outer-outer-inner. IOOI is traditional.
#define THUMB_ORDER_OIIO 1

#if defined(THUMB_ORDER_IOOI)
    #if defined (LH1)
        #define INNER_THUMB_L LH1
    #else
        #define INNER_THUMB_L LB1
    #endif
    #define OUTER_THUMB_L LH0
    #define OUTER_THUMB_R RH0
    #if defined (RH1)
        #define INNER_THUMB_R RH1
    #else
        #define INNER_THUMB_R RB1
    #endif
    #define TAIPO_TH_1 &kp SPACE
    #define TAIPO_TH_2 &kp BSPC
    #define TAIPO_TH_3 &kp BSPC
    #define TAIPO_TH_4 &kp SPACE
#elif defined(THUMB_ORDER_OIIO)
    #if defined (LH1)
        #define OUTER_THUMB_L LH1
    #else
        #define OUTER_THUMB_L LB1
    #endif
    #define INNER_THUMB_L LH0
    #define INNER_THUMB_R RH0
    #if defined (RH1)
        #define OUTER_THUMB_R RH1
    #else
        #define OUTER_THUMB_R RB1
    #endif
    #define TAIPO_TH_1 &kp BSPC
    #define TAIPO_TH_2 &kp SPACE
    #define TAIPO_TH_3 &kp SPACE
    #define TAIPO_TH_4 &kp BSPC
#else
    #error "You must define either THUMB_ORDER_IOOI or THUMB_ORDER_OIIO"
#endif

#define ITL INNER_THUMB_L
#define OTL OUTER_THUMB_L
#define ITR INNER_THUMB_R
#define OTR OUTER_THUMB_R

#ifdef TAIPO
  #ifndef TAIPO_INNER
    #error "TAIPO_INNER and TAIPO_OUTER must be defined"
  #endif
  #ifndef TAIPO_OUTER
    #error "TAIPO_INNER and TAIPO_OUTER must be defined"
  #endif
#else
  #define TAIPO 0
  #define TAIPO_INNER 1
  #define TAIPO_OUTER 2
#endif

// Turn `M1 M2` into `LM1 LM2` and `RM1 RM2`
#define PREFIX_L(x) L##x
#define PREFIX_R(x) R##x
#define MAP_L_1(x) PREFIX_L(x)
#define MAP_L_2(x, y) PREFIX_L(x) PREFIX_L(y)
#define MAP_L_3(x, y, z) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z)
#define MAP_L_4(x, y, z, w) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z) PREFIX_L(w)
#define MAP_L_5(x, y, z, w, v) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z) PREFIX_L(w) PREFIX_L(v)
#define MAP_L_6(x, y, z, w, v, u) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z) PREFIX_L(w) PREFIX_L(v) PREFIX_L(u)
#define MAP_L_7(x, y, z, w, v, u, t) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z) PREFIX_L(w) PREFIX_L(v) PREFIX_L(u) PREFIX_L(t)
#define MAP_L_8(x, y, z, w, v, u, t, s) PREFIX_L(x) PREFIX_L(y) PREFIX_L(z) PREFIX_L(w) PREFIX_L(v) PREFIX_L(u) PREFIX_L(t) PREFIX_L(s)

#define MAP_R_1(x) PREFIX_R(x)
#define MAP_R_2(x, y) PREFIX_R(x) PREFIX_R(y)
#define MAP_R_3(x, y, z) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z)
#define MAP_R_4(x, y, z, w) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z) PREFIX_R(w)
#define MAP_R_5(x, y, z, w, v) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z) PREFIX_R(w) PREFIX_R(v)
#define MAP_R_6(x, y, z, w, v, u) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z) PREFIX_R(w) PREFIX_R(v) PREFIX_R(u)
#define MAP_R_7(x, y, z, w, v, u, t) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z) PREFIX_R(w) PREFIX_R(v) PREFIX_R(u) PREFIX_R(t)
#define MAP_R_8(x, y, z, w, v, u, t, s) PREFIX_R(x) PREFIX_R(y) PREFIX_R(z) PREFIX_R(w) PREFIX_R(v) PREFIX_R(u) PREFIX_R(t) PREFIX_R(s)

#define GET_KEYS(_1,_2,_3,_4,_5,_6,_7,_8,NAME,...) NAME
#define MAP_L(...) GET_KEYS(__VA_ARGS__, MAP_L_8, MAP_L_7, MAP_L_6, MAP_L_5, MAP_L_4, MAP_L_3, MAP_L_2, MAP_L_1)(__VA_ARGS__)
#define MAP_R(...) GET_KEYS(__VA_ARGS__, MAP_R_8, MAP_R_7, MAP_R_6, MAP_R_5, MAP_R_4, MAP_R_3, MAP_R_2, MAP_R_1)(__VA_ARGS__)

// Macros to expand into left/right combos and virtual thumbs
#define ZMK_COMBO_TAIPO(name, kp, ...) \
    ZMK_COMBO(taipoL##name, kp, MAP_L(__VA_ARGS__), TAIPO, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoR##name, kp, MAP_R(__VA_ARGS__), TAIPO, COMBO_TERM_FAST)

#define ZMK_COMBO_TAIPO_IT(name, kp, ...) \
    ZMK_COMBO(taipoLIT##name, kp, MAP_L(__VA_ARGS__) ITL, TAIPO, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoRIT##name, kp, MAP_R(__VA_ARGS__) ITR, TAIPO, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoLIV##name, kp, MAP_L(__VA_ARGS__), TAIPO_INNER, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoRIV##name, kp, MAP_R(__VA_ARGS__), TAIPO_INNER, COMBO_TERM_FAST)

#define ZMK_COMBO_TAIPO_OT(name, kp, ...) \
    ZMK_COMBO(taipoLOT##name, kp, MAP_L(__VA_ARGS__) OTL, TAIPO, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoROT##name, kp, MAP_R(__VA_ARGS__) OTR, TAIPO, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoLOV##name, kp, MAP_L(__VA_ARGS__), TAIPO_OUTER, COMBO_TERM_FAST) \
    ZMK_COMBO(taipoROV##name, kp, MAP_R(__VA_ARGS__), TAIPO_OUTER, COMBO_TERM_FAST)

// TODO: Add bluetooth stuff


// Virtual thumb activation combos
// One-shot virtual inner thumb: M2+M3+M4
ZMK_COMBO_TAIPO(virt_inner_once, &sl TAIPO_INNER, M2, M3, M4)

// One-shot virtual outer thumb: T2+T3+T4
ZMK_COMBO_TAIPO(virt_outer_once, &sl TAIPO_OUTER, T2, T3, T4)

// Lock virtual inner thumb: LT1+LM2+LM3+LM4
ZMK_COMBO_TAIPO(virt_inner_lock     , &tog TAIPO_INNER, T1, M2, M3, M4)
ZMK_COMBO_TAIPO_IT(virt_inner_unlock, &tog TAIPO_INNER, T1, M2, M3, M4)

// Lock virtual outer thumb: LM1+LT2+LT3+LT4
ZMK_COMBO_TAIPO(virt_outer_lock     , &tog TAIPO_OUTER, M1, T2, T3, T4)
ZMK_COMBO_TAIPO_OT(virt_outer_unlock, &tog TAIPO_OUTER, M1, T2, T3, T4)

// Add unconventional space and backspace for thumbless taipo
ZMK_COMBO_TAIPO(space   , &kp SPACE, M1, M2, M3, M4)
ZMK_COMBO_TAIPO(bspc    , &kp BSPC , T1, T2, T3, T4)

ZMK_COMBO_TAIPO_IT(cape , &kp LS(E), M1)
ZMK_COMBO_TAIPO_IT(capt , &kp LS(T), M2)
ZMK_COMBO_TAIPO_IT(capo , &kp LS(O), M3)
ZMK_COMBO_TAIPO_IT(capa , &kp LS(A), M4)

ZMK_COMBO_TAIPO_OT(lpar , &kp LPAR , M1)
ZMK_COMBO_TAIPO_OT(lbkt , &kp LBKT , M2)
ZMK_COMBO_TAIPO_OT(lbrc , &kp LBRC , M3)
ZMK_COMBO_TAIPO_OT(lt   , &kp LT   , M4)

ZMK_COMBO_TAIPO_IT(capi , &kp LS(I), T1)
ZMK_COMBO_TAIPO_IT(capn , &kp LS(N), T2)
ZMK_COMBO_TAIPO_IT(caps , &kp LS(S), T3)
ZMK_COMBO_TAIPO_IT(capr , &kp LS(R), T4)

ZMK_COMBO_TAIPO_OT(rpar , &kp RPAR , T1)
ZMK_COMBO_TAIPO_OT(rbkt , &kp RBKT , T2)
ZMK_COMBO_TAIPO_OT(rbrc , &kp RBRC , T3)
ZMK_COMBO_TAIPO_OT(gt   , &kp GT   , T4)

ZMK_COMBO_TAIPO(h       , &kp H    , M1, M2)
ZMK_COMBO_TAIPO(l       , &kp L    , M3, M4)
ZMK_COMBO_TAIPO(y       , &kp Y    , T1, T2)
ZMK_COMBO_TAIPO(b       , &kp B    , T3, T4)

ZMK_COMBO_TAIPO_IT(caph , &kp LS(H), M1, M2)
ZMK_COMBO_TAIPO_IT(capl , &kp LS(L), M3, M4)
ZMK_COMBO_TAIPO_IT(capy , &kp LS(Y), T1, T2)
ZMK_COMBO_TAIPO_IT(capb , &kp LS(B), T3, T4)

ZMK_COMBO_TAIPO_OT(n0   , &kp N0   , M1, M2)
ZMK_COMBO_TAIPO_OT(n4   , &kp N4   , M3, M4)
ZMK_COMBO_TAIPO_OT(n5   , &kp N5   , T1, T2)
ZMK_COMBO_TAIPO_OT(n9   , &kp N9   , T3, T4)

ZMK_COMBO_TAIPO(g       , &kp G    , T1, T4)
ZMK_COMBO_TAIPO(u       , &kp U    , M2, M3)
ZMK_COMBO_TAIPO(d       , &kp D    , M1, M4)
ZMK_COMBO_TAIPO(p       , &kp P    , T2, T3)

ZMK_COMBO_TAIPO_IT(capg , &kp LS(G), T1, T4)
ZMK_COMBO_TAIPO_IT(capu , &kp LS(U), M2, M3)
ZMK_COMBO_TAIPO_IT(capd , &kp LS(D), M1, M4)
ZMK_COMBO_TAIPO_IT(capp , &kp LS(P), T2, T3)

ZMK_COMBO_TAIPO_OT(hash , &kp HASH , T1, T4)
ZMK_COMBO_TAIPO_OT(n2   , &kp N2   , M2, M3)
ZMK_COMBO_TAIPO_OT(a    , &kp AT   , M1, M4)
ZMK_COMBO_TAIPO_OT(n7   , &kp N7   , T2, T3)

ZMK_COMBO_TAIPO(c       , &kp C    , M1, M3)
ZMK_COMBO_TAIPO(q       , &kp Q    , M2, M4)
ZMK_COMBO_TAIPO(f       , &kp F    , T1, T3)
ZMK_COMBO_TAIPO(z       , &kp Z    , T2, T4)

ZMK_COMBO_TAIPO_IT(capc , &kp LS(C), M1, M3)
ZMK_COMBO_TAIPO_IT(capq , &kp LS(Q), M2, M4)
ZMK_COMBO_TAIPO_IT(capf , &kp LS(F), T1, T3)
ZMK_COMBO_TAIPO_IT(capz , &kp LS(Z), T2, T4)

ZMK_COMBO_TAIPO_OT(n1   , &kp N1   , M1, M3)
ZMK_COMBO_TAIPO_OT(n3   , &kp N3   , M2, M4)
ZMK_COMBO_TAIPO_OT(n6   , &kp N6   , T1, T3)
ZMK_COMBO_TAIPO_OT(n8   , &kp N8   , T2, T4)

ZMK_COMBO_TAIPO(v       , &kp V    , M1, T3)
ZMK_COMBO_TAIPO(x       , &kp X    , M2, T4)
ZMK_COMBO_TAIPO(k       , &kp K    , T1, M3)
ZMK_COMBO_TAIPO(j       , &kp J    , T2, M4)

ZMK_COMBO_TAIPO_IT(capv , &kp LS(V), M1, T3)
ZMK_COMBO_TAIPO_IT(capx , &kp LS(X), M2, T4)
ZMK_COMBO_TAIPO_IT(capk , &kp LS(K), T1, M3)
ZMK_COMBO_TAIPO_IT(capj , &kp LS(J), T2, M4)

ZMK_COMBO_TAIPO_OT(star , &kp STAR , M1, T3)
ZMK_COMBO_TAIPO_OT(caret, &kp CARET, M2, T4)
ZMK_COMBO_TAIPO_OT(plus , &kp PLUS , T1, M3)
ZMK_COMBO_TAIPO_OT(equal, &kp EQUAL, T2, M4)

ZMK_COMBO_TAIPO(minus   , &kp MINUS, T2, M3)
ZMK_COMBO_TAIPO(w       , &kp W    , T1, M4)
ZMK_COMBO_TAIPO(m       , &kp M    , M1, T4)
ZMK_COMBO_TAIPO(slash   , &kp SLASH, M2, T3)

ZMK_COMBO_TAIPO_IT(under, &kp UNDER, T2, M3)
ZMK_COMBO_TAIPO_IT(capw , &kp LS(W), T1, M4)
ZMK_COMBO_TAIPO_IT(capm , &kp LS(M), M1, T4)
ZMK_COMBO_TAIPO_IT(bslh , &kp BSLH , M2, T3)


ZMK_COMBO_TAIPO_OT(prcnt, &kp PRCNT, T2, M3)
ZMK_COMBO_TAIPO_OT(amps , &kp AMPS , T1, M4)
ZMK_COMBO_TAIPO_OT(dllr , &kp DLLR , M1, T4)
ZMK_COMBO_TAIPO_OT(pipe , &kp PIPE , M2, T3)

ZMK_COMBO_TAIPO(sqt     , &kp SQT  , T3, M4)
ZMK_COMBO_TAIPO(semi    , &kp SEMI , M3, T4)
ZMK_COMBO_TAIPO(qmark   , &kp QMARK, T1, M2)
ZMK_COMBO_TAIPO(comma   , &kp COMMA, M1, T2)

ZMK_COMBO_TAIPO_IT(dqt  , &kp DQT  , T3, M4)
ZMK_COMBO_TAIPO_IT(colon, &kp COLON, M3, T4)
ZMK_COMBO_TAIPO_IT(excl , &kp EXCL , T1, M2)
ZMK_COMBO_TAIPO_IT(dot  , &kp DOT  , M1, T2)


ZMK_COMBO_TAIPO_OT(grave, &kp GRAVE, T3, M4)
ZMK_COMBO_TAIPO_OT(none1, &none    , M3, T4)
ZMK_COMBO_TAIPO_OT(none2, &none    , T1, M2)
ZMK_COMBO_TAIPO_OT(tilde, &kp TILDE, M1, T2)

ZMK_COMBO_TAIPO(enter   , &kp ENTER , M1, M2, M3)
ZMK_COMBO_TAIPO(tab     , &kp TAB   , T1, T2, T3)

ZMK_COMBO_TAIPO_IT(esc  , &kp ESC   , M1, M2, M3)
ZMK_COMBO_TAIPO_IT(del  , &kp DEL   , T1, T2, T3)

// Use shift+insert to paste instead of AltGr
#define PASTE &kp LS(INSERT)
ZMK_COMBO_TAIPO_OT(paste, PASTE     , M1, M2, M3)
ZMK_COMBO_TAIPO_OT(lead , &tlead    , T1, T2, T3)

// These need to be sticky, but clear with repeat presses
ZMK_COMBO_TAIPO(gui     , &sk LGUI    , M4, T4)
ZMK_COMBO_TAIPO(alt     , &sk LALT    , M3, T3)
ZMK_COMBO_TAIPO(ctl     , &sk LCTRL   , M2, T2)
ZMK_COMBO_TAIPO(sft     , &sk LSHFT   , M1, T1)

// Also enumerate all possible GACS combinations
ZMK_COMBO_TAIPO(ga      , &sk LG(LALT)         , M3, T3, M4, T4)
ZMK_COMBO_TAIPO(gc      , &sk LG(LCTRL)        , M2, T2, M4, T4)
ZMK_COMBO_TAIPO(gs      , &sk LG(LSHFT)        , M1, T1, M4, T4)
ZMK_COMBO_TAIPO(ac      , &sk LA(LCTRL)        , M2, T2, M3, T3)
ZMK_COMBO_TAIPO(as      , &sk LA(LSHFT)        , M1, T1, M3, T3)
ZMK_COMBO_TAIPO(cs      , &sk LC(LSHFT)        , M1, T1, M2, T2)
ZMK_COMBO_TAIPO(gac     , &sk LG(LA(LCTRL))    , M2, T2, M3, T3, M4, T4)
ZMK_COMBO_TAIPO(gas     , &sk LG(LA(LSHFT))    , M1, T1, M3, T3, M4, T4)
ZMK_COMBO_TAIPO(gcs     , &sk LG(LC(LSHFT))    , M1, T1, M2, T2, M4, T4)
ZMK_COMBO_TAIPO(acs     , &sk LA(LC(LSHFT))    , M1, T1, M2, T2, M3, T3)
ZMK_COMBO_TAIPO(gacs    , &sk LG(LA(LC(LSHFT))), M1, T1, M2, T2, M3, T3, M4, T4)

// hjkl is left down up right, so mirrored is right up down left
ZMK_COMBO_TAIPO_IT(right, &kp RIGHT   , M4, T4)
ZMK_COMBO_TAIPO_IT(up   , &kp UP      , M3, T3)
ZMK_COMBO_TAIPO_IT(down , &kp DOWN    , M2, T2)
ZMK_COMBO_TAIPO_IT(left , &kp LEFT    , M1, T1)

// NB: This is a deviation from taipo's official layout; I swapped PgUp/PgDn for Home/End
// It was Right: PgDn-End-Home-PgUp, but now it's Right: End-PgDn-PgUp-Home
// so 4-3-2-1 is now 3-4-1-2
// ZMK_COMBO_TAIPO_OT(home  , &kp HOME    , M4, T4)
// ZMK_COMBO_TAIPO_OT(pgup  , &kp PG_UP   , M3, T3)
// ZMK_COMBO_TAIPO_OT(pgdn  , &kp PG_DN   , M2, T2)
// ZMK_COMBO_TAIPO_OT(end   , &kp END     , M1, T1)
ZMK_COMBO_TAIPO_OT(pgup , &kp PG_UP   , M4, T4)
ZMK_COMBO_TAIPO_OT(home , &kp HOME    , M3, T3)
ZMK_COMBO_TAIPO_OT(end  , &kp END     , M2, T2)
ZMK_COMBO_TAIPO_OT(pgdn , &kp PG_DN   , M1, T1)

// Missing sequences after leader key for F-keys.
// Maybe I can add https://github.com/zmkfirmware/zmk/pull/1380 to my tree
// leader 1-9: F1-F9
// leader 0 0-9: F10-F19
#define ZMK_TAIPO_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            tlead: tlead { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

ZMK_TAIPO_LEADER_SEQUENCE(f1,  &kp F1,  N1)
ZMK_TAIPO_LEADER_SEQUENCE(f2,  &kp F2,  N2)
ZMK_TAIPO_LEADER_SEQUENCE(f3,  &kp F3,  N3)
ZMK_TAIPO_LEADER_SEQUENCE(f4,  &kp F4,  N4)
ZMK_TAIPO_LEADER_SEQUENCE(f5,  &kp F5,  N5)
ZMK_TAIPO_LEADER_SEQUENCE(f6,  &kp F6,  N6)
ZMK_TAIPO_LEADER_SEQUENCE(f7,  &kp F7,  N7)
ZMK_TAIPO_LEADER_SEQUENCE(f8,  &kp F8,  N8)
ZMK_TAIPO_LEADER_SEQUENCE(f9,  &kp F9,  N9)
ZMK_TAIPO_LEADER_SEQUENCE(f10, &kp F10, N0 N0)
ZMK_TAIPO_LEADER_SEQUENCE(f11, &kp F11, N0 N1)
ZMK_TAIPO_LEADER_SEQUENCE(f12, &kp F12, N0 N2)
ZMK_TAIPO_LEADER_SEQUENCE(f13, &kp F13, N0 N3)
ZMK_TAIPO_LEADER_SEQUENCE(f14, &kp F14, N0 N4)
ZMK_TAIPO_LEADER_SEQUENCE(f15, &kp F15, N0 N5)
ZMK_TAIPO_LEADER_SEQUENCE(f16, &kp F16, N0 N6)
ZMK_TAIPO_LEADER_SEQUENCE(f17, &kp F17, N0 N7)
ZMK_TAIPO_LEADER_SEQUENCE(f18, &kp F18, N0 N8)
ZMK_TAIPO_LEADER_SEQUENCE(f19, &kp F19, N0 N9)

// My custom combos ------------------------------------------------------------

// Add shift-insert to the tab combo plus both thumbs for paste
//ZMK_COMBO(Lpaste, PASTE, LT1 LT2 LT3 ITL OTL, TAIPO, COMBO_TERM_FAST)
//ZMK_COMBO(Rpaste, PASTE, RT1 RT2 RT3 ITR OTR, TAIPO, COMBO_TERM_FAST)

// Add key repeat to both thumbs
//ZMK_COMBO(Lrepeat, &key_repeat, ITL OTL, TAIPO, COMBO_TERM_FAST)
//ZMK_COMBO(Rrepeat, &key_repeat, ITR OTR, TAIPO, COMBO_TERM_FAST)
