/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 ___ │ │ ___ RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 ___ │ │ ___ RM1 RM2 RM3 RM4 │
  ╰───╮ ___ ___ LB1 LH0 │ │ RH0 RB1 ___ ___ ╭───╯
      ╰─────────────────╯ ╰─────────────────╯
  ╭─────────────────────╮ ╭─────────────────────╮
  │  R   S   N   I  ___ │ │ ___  I   N   S   R  │
  │  A   O   T   E  ___ │ │ ___  E   T   O   A  │
  ╰───╮ ___ ___ SPC BSP │ │ BSP SPC ___ ___ ╭───╯
      ╰─────────────────╯ ╰─────────────────╯
*/

// R is LT4 and RT4
// S is LT3 and RT3
// N is LT2 and RT2
// I is LT1 and RT1

// A is LM4 and RM4
// O is LM3 and RM3
// T is LM2 and RM2
// E is LM1 and RM1

// SPC is LB1 and RB1
// BSPC is LH0 and RH0

#undef COMBO_TERM_FAST
#undef COMBO_TERM_SLOW
#define COMBO_TERM_FAST 50
#define COMBO_TERM_SLOW 80

// Change thumb order to OIIO if you want outer-inner-inner-outer or IOOI for
// inner-outer-outer-inner. IOOI is traditional.
#define THUMB_ORDER_OIIO 1

#if defined(THUMB_ORDER_IOOI)
    #define INNER_THUMB_L LB1
    #define OUTER_THUMB_L LH0
    #define OUTER_THUMB_R RH0
    #define INNER_THUMB_R RB1
    #define TAIPO_TH_1 &kp SPACE
    #define TAIPO_TH_2 &kp BSPC
    #define TAIPO_TH_3 &kp BSPC
    #define TAIPO_TH_4 &kp SPACE
#elif defined(THUMB_ORDER_OIIO)
    #define OUTER_THUMB_L LB1
    #define INNER_THUMB_L LH0
    #define INNER_THUMB_R RH0
    #define OUTER_THUMB_R RB1
    #define TAIPO_TH_1 &kp BSPC
    #define TAIPO_TH_2 &kp SPACE
    #define TAIPO_TH_3 &kp SPACE
    #define TAIPO_TH_4 &kp BSPC
#else
    #error "You must define either THUMB_ORDER_IOOI or THUMB_ORDER_OIIO"
#endif

#define ITL INNER_THUMB_L
#define OTL OUTER_THUMB_L
#define ITR INNER_THUMB_R
#define OTR OUTER_THUMB_R

// COMB(CM1,   S(KC_E) , KC_E, KC_SPC)
ZMK_COMBO(Lcape , &kp LS(E)    , LM1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcape , &kp LS(E)    , RM1 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM2,   S(KC_T) , KC_T, KC_SPC)
ZMK_COMBO(Lcapt , &kp LS(T)    , LM2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapt , &kp LS(T)    , RM2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM3,   S(KC_O) , KC_O, KC_SPC)
ZMK_COMBO(Lcapo , &kp LS(O)    , LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapo , &kp LS(O)    , RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM4,   S(KC_A) , KC_A, KC_SPC)
ZMK_COMBO(Lcapa , &kp LS(A)    , LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapa , &kp LS(A)    , RM4 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM5,   KC_LPRN , KC_E, KC_BSPC)
ZMK_COMBO(Llpar, &kp LPAR      , LM1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rlpar, &kp LPAR      , RM1 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM6,   KC_LBRC , KC_T, KC_BSPC)
ZMK_COMBO(Llbkt, &kp LBKT      , LM2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rlbkt, &kp LBKT      , RM2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM7,   KC_LCBR , KC_O, KC_BSPC)
ZMK_COMBO(Llbrc, &kp LBRC      , LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rlbrc, &kp LBRC      , RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM8,   KC_LT   , KC_A, KC_BSPC)
ZMK_COMBO(Llt  , &kp LT        , LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rlt  , &kp LT        , RM4 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM9,   S(KC_I) , KC_I, KC_SPC)
ZMK_COMBO(Lcapi , &kp LS(I)    , LT1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapi , &kp LS(I)    , RT1 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM10,  S(KC_N) , KC_N, KC_SPC)
ZMK_COMBO(Lcapn , &kp LS(N)    , LT2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapn , &kp LS(N)    , RT2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM11,  S(KC_S) , KC_S, KC_SPC)
ZMK_COMBO(Lcaps , &kp LS(S)    , LT3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcaps , &kp LS(S)    , RT3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM12,  S(KC_R) , KC_R, KC_SPC)
ZMK_COMBO(Lcapr , &kp LS(R)    , LT4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapr , &kp LS(R)    , RT4 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM13,  KC_RPRN , KC_I, KC_BSPC)
ZMK_COMBO(Lrpar, &kp RPAR      , LT1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rrpar, &kp RPAR      , RT1 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM14,  KC_RBRC , KC_N, KC_BSPC)
ZMK_COMBO(Lrbkt, &kp RBKT      , LT2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rrbkt, &kp RBKT      , RT2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM15,  KC_RCBR , KC_S, KC_BSPC)
ZMK_COMBO(Lrbrc, &kp RBRC      , LT3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rrbrc, &kp RBRC      , RT3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM16,  KC_GT   , KC_R, KC_BSPC)
ZMK_COMBO(Lgt  , &kp GT        , LT4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rgt  , &kp GT        , RT4 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM17,  KC_H    , KC_E, KC_T)
ZMK_COMBO(Lh   , &kp H         , LM1 LM2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rh   , &kp H         , RM1 RM2, TAIPO, COMBO_TERM_FAST)
// COMB(CM18,  KC_L    , KC_O, KC_A)
ZMK_COMBO(Ll   , &kp L         , LM3 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rl   , &kp L         , RM3 RM4, TAIPO, COMBO_TERM_FAST)
// COMB(CM19,  KC_Y    , KC_I, KC_N)
ZMK_COMBO(Ly   , &kp Y         , LT1 LT2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Ry   , &kp Y         , RT1 RT2, TAIPO, COMBO_TERM_FAST)
// COMB(CM20,  KC_B    , KC_S, KC_R)
ZMK_COMBO(Lb   , &kp B         , LT3 LT4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rb   , &kp B         , RT3 RT4, TAIPO, COMBO_TERM_FAST)


// COMB(CM21,  S(KC_H) , KC_E, KC_T, KC_SPC)
ZMK_COMBO(Lcaph , &kp LS(H)    , LM1 LM2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcaph , &kp LS(H)    , RM1 RM2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM22,  S(KC_L) , KC_O, KC_A, KC_SPC)
ZMK_COMBO(Lcapl , &kp LS(L)    , LM3 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapl , &kp LS(L)    , RM3 RM4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM23,  S(KC_Y) , KC_I, KC_N, KC_SPC)
ZMK_COMBO(Lcapy , &kp LS(Y)    , LT1 LT2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapy , &kp LS(Y)    , RT1 RT2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM24,  S(KC_B) , KC_S, KC_R, KC_SPC)
ZMK_COMBO(Lcapb , &kp LS(B)    , LT3 LT4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapb , &kp LS(B)    , RT3 RT4 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM25,  KC_0    , KC_E, KC_T, KC_BSPC)
ZMK_COMBO(L0   , &kp N0        , LM1 LM2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R0   , &kp N0        , RM1 RM2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM26,  KC_4    , KC_O, KC_A, KC_BSPC)
ZMK_COMBO(L4   , &kp N4        , LM3 LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R4   , &kp N4        , RM3 RM4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM27,  KC_5    , KC_I, KC_N, KC_BSPC)
ZMK_COMBO(L5   , &kp N5        , LT1 LT2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R5   , &kp N5        , RT1 RT2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM28,  KC_9    , KC_S, KC_R, KC_BSPC)
ZMK_COMBO(L9   , &kp N9        , LT3 LT4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R9   , &kp N9        , RT3 RT4 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM29,  KC_G    , KC_I, KC_R)
ZMK_COMBO(Lg   , &kp G         , LT1 LT4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rg   , &kp G         , RT1 RT4, TAIPO, COMBO_TERM_FAST)
// COMB(CM30,  KC_U    , KC_T, KC_O)
ZMK_COMBO(Lu   , &kp U         , LM2 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Ru   , &kp U         , RM2 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM31,  KC_D    , KC_E, KC_A)
ZMK_COMBO(Ld   , &kp D         , LM1 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rd   , &kp D         , RM1 RM4, TAIPO, COMBO_TERM_FAST)
// COMB(CM32,  KC_P    , KC_N, KC_S)
ZMK_COMBO(Lp   , &kp P         , LT2 LT3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rp   , &kp P         , RT2 RT3, TAIPO, COMBO_TERM_FAST)


// COMB(CM33,  S(KC_G) , KC_I, KC_R, KC_SPC)
ZMK_COMBO(Lcapg , &kp LS(G)    , LT1 LT4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapg , &kp LS(G)    , RT1 RT4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM34,  S(KC_U) , KC_T, KC_O, KC_SPC)
ZMK_COMBO(Lcapu , &kp LS(U)    , LM2 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapu , &kp LS(U)    , RM2 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM35,  S(KC_D) , KC_E, KC_A, KC_SPC)
ZMK_COMBO(Lcapd , &kp LS(D)    , LM1 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapd , &kp LS(D)    , RM1 RM4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM36,  S(KC_P) , KC_N, KC_S, KC_SPC)
ZMK_COMBO(Lcapp , &kp LS(P)    , LT2 LT3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapp , &kp LS(P)    , RT2 RT3 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM37,  KC_HASH , KC_I, KC_R, KC_BSPC)
ZMK_COMBO(Lat   , &kp HASH     , LT1 LT4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rat   , &kp HASH     , RT1 RT4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM38,  KC_2    , KC_T, KC_O, KC_BSPC)
ZMK_COMBO(L2    , &kp N2       , LM2 LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R2    , &kp N2       , RM2 RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM39,  KC_AT   , KC_E, KC_A, KC_BSPC)
ZMK_COMBO(Lhash , &kp AT       , LM1 LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rhash , &kp AT       , RM1 RM4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM40,  KC_7    , KC_N, KC_S, KC_BSPC)
ZMK_COMBO(L7    , &kp N7       , LT2 LT3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R7    , &kp N7       , RT2 RT3 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM41,  KC_C    , KC_E, KC_O)
ZMK_COMBO(Lc    , &kp C        , LM1 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rc    , &kp C        , RM1 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM42,  KC_Q    , KC_T, KC_A)
ZMK_COMBO(Lq    , &kp Q        , LM2 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rq    , &kp Q        , RM2 RM4, TAIPO, COMBO_TERM_FAST)
// COMB(CM43,  KC_F    , KC_I, KC_S)
ZMK_COMBO(Lf    , &kp F        , LT1 LT3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rf    , &kp F        , RT1 RT3, TAIPO, COMBO_TERM_FAST)
// COMB(CM44,  KC_Z    , KC_N, KC_R)
ZMK_COMBO(Lz    , &kp Z        , LT2 LT4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rz    , &kp Z        , RT2 RT4, TAIPO, COMBO_TERM_FAST)


// COMB(CM45,  S(KC_C) , KC_E, KC_O, KC_SPC)
ZMK_COMBO(Lcapc , &kp LS(C)    , LM1 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapc , &kp LS(C)    , RM1 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM46,  S(KC_Q) , KC_T, KC_A, KC_SPC)
ZMK_COMBO(Lcapq , &kp LS(Q)    , LM2 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapq , &kp LS(Q)    , RM2 RM4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM47,  S(KC_F) , KC_I, KC_S, KC_SPC)
ZMK_COMBO(Lcapf , &kp LS(F)    , LT1 LT3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapf , &kp LS(F)    , RT1 RT3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM48,  S(KC_Z) , KC_N, KC_R, KC_SPC)
ZMK_COMBO(Lcapz , &kp LS(Z)    , LT2 LT4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapz , &kp LS(Z)    , RT2 RT4 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM49,  KC_1    , KC_E, KC_O, KC_BSPC)
ZMK_COMBO(L1    , &kp N1       , LM1 LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R1    , &kp N1       , RM1 RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM50,  KC_3    , KC_T, KC_A, KC_BSPC)
ZMK_COMBO(L3    , &kp N3       , LM2 LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R3    , &kp N3       , RM2 RM4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM51,  KC_6    , KC_I, KC_S, KC_BSPC)
ZMK_COMBO(L6    , &kp N6       , LT1 LT3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R6    , &kp N6       , RT1 RT3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM52,  KC_8    , KC_N, KC_R, KC_BSPC)
ZMK_COMBO(L8    , &kp N8       , LT2 LT4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(R8    , &kp N8       , RT2 RT4 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM53,  KC_V    , KC_S, KC_E)
ZMK_COMBO(Lv    , &kp V        , LT3 LM1, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rv    , &kp V        , RT3 RM1, TAIPO, COMBO_TERM_FAST)
// COMB(CM54,  KC_X    , KC_R, KC_T)
ZMK_COMBO(Lx    , &kp X        , LT4 LM2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rx    , &kp X        , RT4 RM2, TAIPO, COMBO_TERM_FAST)
// COMB(CM55,  KC_K    , KC_I, KC_O)
ZMK_COMBO(Lk    , &kp K        , LT1 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rk    , &kp K        , RT1 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM56,  KC_J    , KC_N, KC_A)
ZMK_COMBO(Lj    , &kp J        , LT2 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rj    , &kp J        , RT2 RM4, TAIPO, COMBO_TERM_FAST)


// COMB(CM57,  S(KC_V) , KC_S, KC_E, KC_SPC)
ZMK_COMBO(Lcapv , &kp LS(V)    , LT3 LM1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapv , &kp LS(V)    , RT3 RM1 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM58,  S(KC_X) , KC_R, KC_T, KC_SPC)
ZMK_COMBO(Lcapx , &kp LS(X)    , LT4 LM2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapx , &kp LS(X)    , RT4 RM2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM59,  S(KC_K) , KC_I, KC_O, KC_SPC)
ZMK_COMBO(Lcapk , &kp LS(K)    , LT1 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapk , &kp LS(K)    , RT1 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM60,  S(KC_J) , KC_N, KC_A, KC_SPC)
ZMK_COMBO(Lcapj , &kp LS(J)    , LT2 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapj , &kp LS(J)    , RT2 RM4 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM61,  KC_ASTR , KC_S, KC_E, KC_BSPC)
ZMK_COMBO(Lstar , &kp STAR     , LT3 LM1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rstar , &kp STAR     , RT3 RM1 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM62,  KC_CIRC , KC_R, KC_T, KC_BSPC)
ZMK_COMBO(Lcaret, &kp CARET    , LT4 LM2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcaret, &kp CARET    , RT4 RM2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM63,  KC_PLUS , KC_I, KC_O, KC_BSPC)
ZMK_COMBO(Lplus , &kp PLUS     , LT1 LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rplus , &kp PLUS     , RT1 RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM64,  KC_EQL  , KC_N, KC_A, KC_BSPC)
ZMK_COMBO(Lequal, &kp EQUAL    , LT2 LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Requal, &kp EQUAL    , RT2 RM4 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM65,  KC_MINS , KC_N, KC_O)
ZMK_COMBO(Lminus, &kp MINUS    , LT2 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rminus, &kp MINUS    , RT2 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM66,  KC_W    , KC_I, KC_A)
ZMK_COMBO(Lw    , &kp W        , LT1 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rw    , &kp W        , RT1 RM4, TAIPO, COMBO_TERM_FAST)
// COMB(CM67,  KC_M    , KC_R, KC_E)
ZMK_COMBO(Lm    , &kp M        , LT4 LM1, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rm    , &kp M        , RT4 RM1, TAIPO, COMBO_TERM_FAST)
// COMB(CM68,  KC_SLSH , KC_S, KC_T)
ZMK_COMBO(Lslash, &kp SLASH    , LT3 LM2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rslash, &kp SLASH    , RT3 RM2, TAIPO, COMBO_TERM_FAST)


// COMB(CM69,  KC_UNDS , KC_N, KC_O, KC_SPC)
ZMK_COMBO(Lunder, &kp UNDER    , LT2 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Runder, &kp UNDER    , RT2 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM70,  S(KC_W) , KC_I, KC_A, KC_SPC)
ZMK_COMBO(Lcapw , &kp LS(W)    , LT1 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapw , &kp LS(W)    , RT1 RM4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM71,  S(KC_M) , KC_R, KC_E, KC_SPC)
ZMK_COMBO(Lcapm , &kp LS(M)    , LT4 LM1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcapm , &kp LS(M)    , RT4 RM1 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM72,  KC_BSLS , KC_S, KC_T, KC_SPC)
ZMK_COMBO(Lbslh , &kp BSLH     , LT3 LM2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rbslh , &kp BSLH     , RT3 RM2 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM73,  KC_PERC , KC_N, KC_O, KC_BSPC)
ZMK_COMBO(Lprcnt, &kp PRCNT    , LT2 LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rprcnt, &kp PRCNT    , RT2 RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM74,  KC_AMPR , KC_I, KC_A, KC_BSPC)
ZMK_COMBO(Lamps , &kp AMPS     , LT1 LM4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Ramps , &kp AMPS     , RT1 RM4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM75,  KC_DLR  , KC_R, KC_E, KC_BSPC)
ZMK_COMBO(Ldllr , &kp DLLR     , LT4 LM1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rdllr , &kp DLLR     , RT4 RM1 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM76,  KC_PIPE , KC_S, KC_T, KC_BSPC)
ZMK_COMBO(Lpipe , &kp PIPE     , LT3 LM2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rpipe , &kp PIPE     , RT3 RM2 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM77,  KC_QUOT , KC_S, KC_A)
ZMK_COMBO(Lsqt  , &kp SQT      , LT3 LM4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rsqt  , &kp SQT      , RT3 RM4, TAIPO, COMBO_TERM_FAST)
// COMB(CM78,  KC_SCLN , KC_R, KC_O)
ZMK_COMBO(Lsemi , &kp SEMI     , LT4 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rsemi , &kp SEMI     , RT4 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM79,  KC_QUES , KC_I, KC_T)
ZMK_COMBO(Lqmark, &kp QMARK    , LT1 LM2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rqmark, &kp QMARK    , RT1 RM2, TAIPO, COMBO_TERM_FAST)
// COMB(CM80,  KC_COMMA, KC_N, KC_E)
ZMK_COMBO(Lcomma, &kp COMMA    , LT2 LM1, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcomma, &kp COMMA    , RT2 RM1, TAIPO, COMBO_TERM_FAST)


// COMB(CM81,  KC_DQT  , KC_S, KC_A, KC_SPC)
ZMK_COMBO(Ldqt  , &kp DQT      , LT3 LM4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rdqt  , &kp DQT      , RT3 RM4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM82,  KC_COLN , KC_R, KC_O, KC_SPC)
ZMK_COMBO(Lcolon, &kp COLON    , LT4 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rcolon, &kp COLON    , RT4 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM83,  KC_EXLM , KC_I, KC_T, KC_SPC)
ZMK_COMBO(Lexcl , &kp EXCL     , LT1 LM2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rexcl , &kp EXCL     , RT1 RM2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM84,  KC_DOT  , KC_N, KC_E, KC_SPC)
ZMK_COMBO(Ldot  , &kp DOT      , LT2 LM1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rdot  , &kp DOT      , RT2 RM1 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM85,  KC_GRAVE, KC_S, KC_A, KC_BSPC)
ZMK_COMBO(Lgrave, &kp GRAVE    , LM4 LT3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rgrave, &kp GRAVE    , RM4 RT3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM86,  KC_TILDE, KC_N, KC_E, KC_BSPC)
ZMK_COMBO(Ltilde, &kp TILDE    , LT2 LM1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rtilde, &kp TILDE    , RT2 RM1 OTR, TAIPO, COMBO_TERM_FAST)


// COMB(CM87,  KC_ENTER, KC_E, KC_T, KC_O)
ZMK_COMBO(Lenter, &kp ENTER    , LM1 LM2 LM3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Renter, &kp ENTER    , RM1 RM2 RM3, TAIPO, COMBO_TERM_FAST)
// COMB(CM88,  KC_TAB  , KC_I, KC_N, KC_S)
ZMK_COMBO(Ltab  , &kp TAB      , LT1 LT2 LT3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rtab  , &kp TAB      , RT1 RT2 RT3, TAIPO, COMBO_TERM_FAST)


// COMB(CM89,  KC_ESC  , KC_E, KC_T, KC_O, KC_SPC)
ZMK_COMBO(Lesc  , &kp ESC      , LM1 LM2 LM3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Resc  , &kp ESC      , RM1 RM2 RM3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM90,  KC_DEL  , KC_I, KC_N, KC_S, KC_SPC)
ZMK_COMBO(Ldel  , &kp DEL      , LT1 LT2 LT3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rdel  , &kp DEL      , RT1 RT2 RT3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM91,  KC_ALGR , KC_E, KC_T, KC_O, KC_BSPC)
ZMK_COMBO(Lralt , &kp RALT     , LM1 LM2 LM3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rralt , &kp RALT     , RM1 RM2 RM3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM92,  KC_LEAD , KC_I, KC_N, KC_S, KC_BSPC)
ZMK_COMBO(Llead , &tlead       , LT1 LT3 LT2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rlead , &tlead       , RT1 RT3 RT2 OTR, TAIPO, COMBO_TERM_FAST)


// These need to be sticky, but clear with repeat presses
// COMB(CM93,  MY_LGUI , KC_A, KC_R)
ZMK_COMBO(Lgui  , &sk LGUI     , LM4 LT4, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rgui  , &sk LGUI     , RM4 RT4, TAIPO, COMBO_TERM_FAST)
// COMB(CM94,  MY_LALT , KC_O, KC_S)
ZMK_COMBO(Lalt  , &sk LALT     , LM3 LT3, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Ralt  , &sk LALT     , RM3 RT3, TAIPO, COMBO_TERM_FAST)
// COMB(CM95,  MY_LCTL , KC_T, KC_N)
ZMK_COMBO(Lctl  , &sk LCTL     , LM2 LT2, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rctl  , &sk LCTL     , RM2 RT2, TAIPO, COMBO_TERM_FAST)
// COMB(CM96,  MY_LSFT , KC_E, KC_I)
ZMK_COMBO(Lsft  , &sk LSHFT    , LM1 LT1, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rsft  , &sk LSHFT    , RM1 RT1, TAIPO, COMBO_TERM_FAST)


// COMB(CM97,  KC_RIGHT, KC_A, KC_R, KC_SPC)
ZMK_COMBO(Lright, &kp RIGHT    , LM4 LT4 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rright, &kp RIGHT    , RM4 RT4 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM98,  KC_UP   , KC_O, KC_S, KC_SPC)
ZMK_COMBO(Lup   , &kp UP       , LM3 LT3 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rup   , &kp UP       , RM3 RT3 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM99,  KC_DOWN , KC_T, KC_N, KC_SPC)
ZMK_COMBO(Ldown , &kp DOWN     , LM2 LT2 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rdown , &kp DOWN     , RM2 RT2 ITR, TAIPO, COMBO_TERM_FAST)
// COMB(CM100, KC_LEFT , KC_E, KC_I, KC_SPC)
ZMK_COMBO(Lleft , &kp LEFT     , LM1 LT1 ITL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rleft , &kp LEFT     , RM1 RT1 ITR, TAIPO, COMBO_TERM_FAST)


// COMB(CM101, KC_PGUP , KC_A, KC_R, KC_BSPC)
ZMK_COMBO(Lpgup , &kp PG_UP    , LM4 LT4 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rpgup , &kp PG_UP    , RM4 RT4 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM102, KC_HOME , KC_O, KC_S, KC_BSPC)
ZMK_COMBO(Lhome , &kp HOME     , LM3 LT3 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rhome , &kp HOME     , RM3 RT3 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM103, KC_END  , KC_T, KC_N, KC_BSPC)
ZMK_COMBO(Lend  , &kp END      , LM2 LT2 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rend  , &kp END      , RM2 RT2 OTR, TAIPO, COMBO_TERM_FAST)
// COMB(CM104, KC_PGDN , KC_E, KC_I, KC_BSPC)
ZMK_COMBO(Lpgdn , &kp PG_DN    , LM1 LT1 OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rpgdn , &kp PG_DN    , RM1 RT1 OTR, TAIPO, COMBO_TERM_FAST)


// Missing sequences after leader key for F-keys.
// Maybe I can add https://github.com/zmkfirmware/zmk/pull/1380 to my tree
// leader 1-9: F1-F9
// leader 0 0-9: F10-F19
#define ZMK_TAIPO_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            tlead: tlead { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

ZMK_TAIPO_LEADER_SEQUENCE(f1,  &kp F1,  N1)
ZMK_TAIPO_LEADER_SEQUENCE(f2,  &kp F2,  N2)
ZMK_TAIPO_LEADER_SEQUENCE(f3,  &kp F3,  N3)
ZMK_TAIPO_LEADER_SEQUENCE(f4,  &kp F4,  N4)
ZMK_TAIPO_LEADER_SEQUENCE(f5,  &kp F5,  N5)
ZMK_TAIPO_LEADER_SEQUENCE(f6,  &kp F6,  N6)
ZMK_TAIPO_LEADER_SEQUENCE(f7,  &kp F7,  N7)
ZMK_TAIPO_LEADER_SEQUENCE(f8,  &kp F8,  N8)
ZMK_TAIPO_LEADER_SEQUENCE(f9,  &kp F9,  N9)
ZMK_TAIPO_LEADER_SEQUENCE(f10, &kp F10, N0 N0)
ZMK_TAIPO_LEADER_SEQUENCE(f11, &kp F11, N0 N1)
ZMK_TAIPO_LEADER_SEQUENCE(f12, &kp F12, N0 N2)
ZMK_TAIPO_LEADER_SEQUENCE(f13, &kp F13, N0 N3)
ZMK_TAIPO_LEADER_SEQUENCE(f14, &kp F14, N0 N4)
ZMK_TAIPO_LEADER_SEQUENCE(f15, &kp F15, N0 N5)
ZMK_TAIPO_LEADER_SEQUENCE(f16, &kp F16, N0 N6)
ZMK_TAIPO_LEADER_SEQUENCE(f17, &kp F17, N0 N7)
ZMK_TAIPO_LEADER_SEQUENCE(f18, &kp F18, N0 N8)
ZMK_TAIPO_LEADER_SEQUENCE(f19, &kp F19, N0 N9)

// My custom combos ------------------------------------------------------------

// Add shift-insert to the tab combo plus both thumbs for paste
#define PASTE &kp LS(INSERT)
ZMK_COMBO(Lpaste, PASTE, LT1 LT2 LT3 ITL OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rpaste, PASTE, RT1 RT2 RT3 ITR OTR, TAIPO, COMBO_TERM_FAST)

// Add key repeat to both thumbs
ZMK_COMBO(Lrepeat, &key_repeat, ITL OTL, TAIPO, COMBO_TERM_FAST)
ZMK_COMBO(Rrepeat, &key_repeat, ITR OTR, TAIPO, COMBO_TERM_FAST)
