#include "./28.h"
#include "../../../base.keymap"

ZMK_LAYER(helm_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_HELM_UPPER_ROW________________________________________________       RIGHT_HELM_UPPER_ROW_______________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_HELM_MIDDLE_ROW_______________________________________________       RIGHT_HELM_MIDDLE_ROW______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_HELM_LOWER_ROW____________________   L_THUMB           R_THUMB       RIGHT_HELM_LOWER_ROW___________________
    //               ╰─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(qwerty_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         &hml LSHFT A  &hml LCTRL S  &hml LALT D   &hml LGUI F   &kp G             &kp H         &hmr RGUI J   &hmr RALT K   &hmr RCTRL L  &hmr RSHFT BSPC
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       &kp Z         &kp X         &kp C         &lt PORT V        R_THUMB       &kp M         &kp N         &kp B
    //               ╰─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────╯
)

// Aptmak:
// v w f p b  j l u y '
// r s t h k  x n a i o
//[;]c g d[q][z]m , .[/]
//         _  e
// c+g=z, c+d=q, m+,=/, and ; on shifted ,
// Aptmak thumbs are layertap and spc/e
//#define PORT_SP     &lt PORT SPC
//#define STARB_E     &lt STARBOARD E
// Aptmak combos
//ZMK_COMBO(amz,   &kp Z,         LB3 LB2,     APTMAK, COMBO_TERM_SLOW)
//ZMK_COMBO(amq,   &kp Q,         LB3 LB1,     APTMAK, COMBO_TERM_SLOW)
// Night thumbs
#define PORT_R      &lt PORT R
#define STARB_SPC   &lt STARBOARD SPC
// Night combos
ZMK_COMBO(night_z, &kp Z,         LB3 LB1,     NIGHT, COMBO_TERM_SLOW)
ZMK_COMBO(night_q, &kp Q,         LB3 LB2,     NIGHT, COMBO_TERM_SLOW)

ZMK_LAYER(night_layer,
    // b f l k q  p g o u .
    // n s h t m  y c a e i
    //[x]v j d[z][']w / ;[,]
    //         r  _
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp B         &kp F         &kp L         &kp K         &kp Q             &kp P         &kp G         &kp O         &kp U         &kp DOT
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &hml LGUI N   &hml LALT S   &hml LCTRL H  &hml LSHFT T  &kp M             &kp Y         &hmr RSHFT C  &hmr RCTRL A  &hmr RALT E   &hmr RGUI I
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                      &kp V         &kp J         &kp D         PORT_R            STARB_SPC     &kp W         &kp SLASH     &kp SEMI
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╯   ╰─────────────┴─────────────┼─────────────┼─────────────╯
)

ZMK_LAYER(port_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_PORT_UPPER_ROW________________________________________________       RIGHT_PORT_UPPER_ROW_______________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_PORT_MIDDLE_ROW_______________________________________________       RIGHT_PORT_MIDDLE_ROW______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_PORT_LOWER_ROW____________________   L_THUMB           R_THUMB       RIGHT_PORT_LOWER_ROW___________________
    //               ╰─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(starboard_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_STARBOARD_UPPER_ROW___________________________________________       RIGHT_STARBOARD_UPPER_ROW__________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_STARBOARD_MIDDLE_ROW__________________________________________       RIGHT_STARBOARD_MIDDLE_ROW_________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_STARBOARD_LOWER_ROW_______________   L_THUMB           R_THUMB       RIGHT_STARBOARD_LOWER_ROW______________
    //               ╰─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(aft_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_AFT_UPPER_ROW_________________________________________________       RIGHT_AFT_UPPER_ROW________________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_AFT_MIDDLE_ROW________________________________________________       RIGHT_AFT_MIDDLE_ROW_______________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       LEFT_AFT_LOWER_ROW_____________________   L_THUMB           R_THUMB       RIGHT_AFT_LOWER_ROW____________________
    //               ╰─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(taipo_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         LEFT_TAIPO_UPPER_ROW_________________________________   ___               ___           RIGHT_TAIPO_UPPER_ROW________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         LEFT_TAIPO_MIDDLE_ROW________________________________   ___               ___           RIGHT_TAIPO_MIDDLE_ROW_______________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       &to HELM      &mo MOUSE     LEFT_TAIPO_THUMBS________       RIGHT_TAIPO_THUMBS_______   &mo MOUSE     ___
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╯   ╰─────────────┴─────────────┼─────────────┼─────────────╯
)

ZMK_LAYER(mouse_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         MOUSE_SCROLL_________________________________________   ___               ___           MOUSE_SCROLL_________________________________________
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         MOUSE_MOVE___________________________________________   ___               ___           MOUSE_MOVE___________________________________________
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                       MOUSE_BUTTONS__________________________   &to TAIPO         &to HELM      MOUSE_BUTTONS__________________________
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╯   ╰─────────────┴─────────────┼─────────────┼─────────────╯
)

ZMK_LAYER(steno_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp S         &kp T         &kp E         &kp N         &kp O             ___           ___           ___           ___           ___
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                      &to HELM      ___           ___           ___               ___           ___           ___           ___
    //               ╰─────────────┴─────────────┼─────────────┼─────────────╯   ╰─────────────┴─────────────┼─────────────┼─────────────╯
)

/* vim: set tw=180 ft=c: */
